In [7]:
import pandas as pd

1) In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [20]:
data = pd.read_csv('machine.txt', sep = "\t")
data

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

# Manually computing with calculation

In [28]:
# Calculating the mean and std for both samples "New Machine" "Old Machine"
new_mean = data['New machine'].mean()
old_mean = data['Old machine'].mean()
new_std = data['New machine'].std()
old_std = data['Old machine'].std()
n1 = 10
n2 = 10

In [31]:
# Calculating T Statistic
import math

pooled_sample = math.sqrt(((n1-1)*new_std**2+(n2-1)*old_std**2)/(n1+n2-2))

statistic = (new_mean - old_mean)/(pooled_sample*math.sqrt((1/n1)+(1/n2)))

print("T Statistic: ", statistic)

T Statistic:  -3.3972307061176026

# Using Function

In [36]:
# Importing ttest library
from scipy.stats import ttest_ind

ttest_ind(data['New machine'], data['Old machine'])

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

At 5% signficance, we can reject the null hypothesis that one machine is better than the other